# vscode
.vscode/
# Python
__pycache__/
*.pyc
# Jupyter Notebook
.ipynb_checkpoints/
# Data files
*.csv
*.json
*.h5
*.hdf5
# Logs and checkpoints
logs/
checkpoints/
pretrained_models/
pretrain/
# build and dist
build/
dist/
*.egg-info/
*/__pycache__/
*.pyd
*.pyc
# C++ build artifacts
*.o
*.so
*.dll
*.exe
# Git
.git/
.gitignore
